.auth__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
}

.auth-form__wrapper {
    position: relative;
    margin-top: 4rem;
    border-radius: 15px;
    box-shadow: 4px 8px 8px 0 var(--color-grey);
    min-width: 422px;
    overflow: hidden;
}

@media (max-width: 440px) {
    .auth-form__wrapper {
        min-width: 100%;
    }
}

@media (min-width: 441px) and (max-width: 1024px) {
    .auth-form__wrapper {
        min-width: 60%;
    }
}

.auth-form__controls {
    display: flex;
    justify-content: end;
    height: 5rem;
}

.spinner__wrapper {
    position: absolute;
    left: 50%;
}
.spinner__wrapper > .spinner {
    color: var(--color-grey1);
}
