.email-not-confirm {
    position: relative;
    cursor: pointer;
}

.email-not-confirm::after {
    width: 20px;
    height: 20px;
    background-image: url("/static/alert-box-outline.svg");
    content: " ";
    position: absolute;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0a58ca;
    border-radius: 5px;
    filter: invert(1);
    cursor: pointer;
}

.email-confirm-wrapper {
    position: absolute;
    display: none;
    width: 15rem;
    background-color: var(--color-black-light);
    border-radius: .5rem;
    box-shadow: 4px 3px 6px 2px var(--color-grey);
    font-weight: 400;
    font-size: .9rem;
    padding: .5rem;
    color: var(--color-error);
    text-align: center;
    margin-top: .5rem;
}

.email-not-confirm:hover .email-confirm-wrapper {
    display: block;
}