.panel-top__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    height: 4rem;

    color: var(--color-white);

    background-color: var(--color-black-light);
    box-shadow: 4px 8px 8px 0px var(--color-grey);
}

.panel-top__wrapper > .panel-top__logo {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.panel-top__wrapper > .panel-top__title {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.panel-top__wrapper > .panel-top__menu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}