.panel-top__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    height: 4rem;

    color: var(--color-white);

    background-color: var(--color-black-light);
    box-shadow: 4px 8px 8px 0 var(--color-grey);
}

@media (max-width: 440px) {
    .panel-top__wrapper {
        grid-template-columns: auto;
        height: auto;
    }
}

.panel-top__wrapper > .panel-top__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.panel-top__logo > img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: 0 0 20px 8px var(--color-purpur);
}

.panel-top__wrapper > .panel-top__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-weight: 800;
    font-size: 2rem;
}

.panel-top__wrapper > .panel-top__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}