:root {
    --color-red: #e54646;
    --color-error: red;

    --color-black: black;
    --color-black-light: #27282c;

    --color-grey: #9e9e9e;
    --color-grey1: #50535c;
    --color-grey2: #6c757d;

    --color-white: #ffffff;
    --color-white1:  #ced4da;

    --color-green: #0ab30a;
    --color-green1: #157347;
    --color-green2: #146c43;
    --color-success: #198754;

    --color-blue: blue;
    --color-blue1: #0a58ca;
    --color-blue2: #0a53be;
    --color-blue3: #86b7fe;
    --color-primary: #0d6efd;

    --color-purpur: #6b3f70;

    --color-text: #0d0d0d;

    --color-warning: orange;
}